<!DOCTYPE html>
<html>
<head>
    <title>Cats</title>
    <style>
        .box {
            display: inline-flex;
        }
        img {
            width: 30%;
        }
    </style>
</head>
<body>
    <h1>EJS Cats</h1>
    <div class="box">
        <!-- <form action="/cuddles/1" method="POST">
            <input type="image" src="images/cat-1.jpg">
        </form>
        <form action="/cuddles/2" method="POST">
            <input type="image" src="images/cat-2.jpg">
        </form>
        <form action="/cuddles/3" method="POST">
            <input type="image" src="images/cat-3.jpg"> -->
        <!-- </form> -->
        <div>
            <a href="/cuddles/1">
                <img src="images/cat-1.jpg">
            </a>
        </div>
        <div>
            <a href="/cuddles/2">
                <img src="images/cat-2.jpg">
            </a>
        </div>
        <div>
            <a href="/cuddles/3">
                <img src="images/cat-3.jpg">
            </a>
        </div>
    </div>
</body>
</html>