<!DOCTYPE html>
<html>
    <head>
        <title>Cats</title>
    </head>
    <body>
        <img src="images/cat-1.jpg">
        <img src="images/cat-2.jpg">
        <img src="images/cat-3.jpg">
    </body>
</html>