<!DOCTYPE html>
<html>
    <head>
        <title>API</title>
        <style>
            .btn {
                display: inline-flex;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#peopleBtn').click(function(){
                    // let's make the request to our OWN server!
                    $.get('/people', function(data){
                        // log the data to be sure we have it before we dive into manipulating the DOM
                        data.forEach((data)=>{
                            $(".list").append( "<p>" + data.name + "</p>");
                        });

                        console.log("got the data", data);
                    }, 'json');
                });
            });
        </script>
    </head>
    <body>
        <h1>Star Wars Wiki</h1>
        <h2>What would you like to know more?</h2>
        <div class="btn">
            <button id="peopleBtn">People</button>
            <button>Planet</button>
        </div>
        <section>
            <div class="list">
            </div>
        </section>
    </body>
</html>