<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/authors/new">Create Authors</a>
                </li>
                <li>
                    <a href="/books">Book</a>
                </li>
            </ul>
        </nav>
        <main>
            <fieldset>
                <legend>Create Author</legend>

                <form action="/authors" method="POST">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label for="isAlive">Is Alive</label>
                        <input type="radio" name="isAlive" value="true">True
                        <input type="radio" name="isAlive" value="false">False
                    </div>
                    <button>Submit</button>
                </form>

            </fieldset>
        </main>
    </body>
</html>