<!DOCTYPE html>
<html>
    <head>
        <title>Cats</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <h1>Cats</h1>
        <div class="main-box">
            <div class="img">
                <img src="../images/cats/pexels-photo-617278.jpg" alt="">
            </div>
            <div class="img">
                <img src="../images/cats/pexels-photo-923360.jpg" alt="">
            </div>
            <div class="img">
                <img src="../images/cats/pexels-photo.jpg" alt="">
            </div>
        </div>
    </body>
</html>