<!DOCTYPE html>
<html>
    <head>
        <title>Cars</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <div class="main">
            <h1>Add New Car Information</h1>
            <form action="#" method="post">
                <label for="car-name">Car Name: </label>
                <input type="text" name="car-name">
                <br>
                <label for="model">Car Model: </label>
                <input type="text" name="model">
                <br>
                <label for="year">Car Build Year: </label>
                <input type="text" name="year">
                <br>
                <label for="type">Type (Auto or Manual): </label>
                <input type="text" name="type">
                <br>
                <textarea name="car-info" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>